*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
	transition:all 0.5s 0s ease;
}
body{
	transition:all 0.6s 0s ease;
}
@font-face {
   font-family: 'OpenSans-Regular';
   src: url(../font/OpenSans-Regular.ttf)format('truetype');
}
@font-face {
   font-family: 'Pacifico';
   src: url(../font/Pacifico.ttf)format('truetype');
}
@font-face {
   font-family: 'CinzelDecorative-Regular';
   src: url(../font/CinzelDecorative-Regular.ttf)format('truetype');
}
.container{
	display:flex;
	flex-direction:column;
	width:100%;
}
header{
	width:100%;
	height:153px;
	background:url("../imgs/2.jpg") no-repeat center 0px;
	background-size:cover;
}
nav{
	width:100%;
	height:41px;
	padding:16px 0px;
	background:rgba(0,0,0,0.7);
}
nav>div{
	width:84.5%;
	height:41px;
	margin:0px auto;
}
nav>div>a{
	color:white;
	font-size:36px;
	line-height:38px;
	font-family:'Pacifico';
}
nav>div>a>span{
	color:#ff6a4a;
}
nav>div>div{
	display: flex;
	float:right;
}
nav>div>div>span{
	display:none;
	text-align:center;
	font-size:18px;
	line-height: 32px;
	color:white;
	font-family: 'OpenSans-Regular';
}
nav>div>div>ul{
	float:right;
}
nav>div>div>ul>a>li{
	float:left;
	font-size:16px;
	color:#fff;
	line-height:38px;
	padding:0px 22px;
	font-family:'OpenSans-Regular';
}
nav>div>div>ul>li{
	float:left;
	font-size:16px;
	color:#fff;
	line-height:38px;
	padding:0px 22px;
	font-family:'OpenSans-Regular';
}
nav>div>div>ul>a:last-of-type>li{
	padding-right:10px;
}
nav>div>div>ul>a>li:hover{
	color:#ff6a4a;
}
nav>div>div>ul>li>i{
	border-top:4px solid #fff;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	float:right;
	margin:20px 5px 0px 15px;
}
.yiji{
	position:relative;
}
.yiji a li:hover{
	color:#ff6a4a;
}
.yiji:hover>span{
	color:#ff6a4a;
}
.yiji:hover .erji{
	display:block;
}
.yiji:hover>i{
	border-top:4px solid #ff6a4a;
}
.erji{
	width:90px;
	height:90px;
	padding-left:20px;
	position:absolute;
	border-radius:4px;
	background:#222;
	font-size:14px;
	left:6px;
	display:none;
}
.erji>a>li{
	color:#fff;
	line-height:28px;
}
.erji>li{
	line-height:26px;
}
.erji>li>i{
	border-top:4px solid #fff;
	border-right:4px solid transparent;
	border-left:4px solid transparent;
	float:right;
	margin:10px 15px 0px 0;
}
.erji>li:hover .sanji{
	display:block;
}
.erji>li:hover>span{
	color:#ff6a4a;
}
.erji>li:hover>i{
	border-top:4px solid #ff6a4a;
}
.sanji{
	display:none;
	width:90px;
	height:80px;
	background:#222;
	position:absolute;
	right:-110px;
	top:30px;
	padding-left:20px;
	border-radius:4px;
}
.sanji>a>li{
	line-height:26px;
	color:#fff;
}
.hover{
	color:#ff6a4a;
}
.content{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:100%;
	padding:72px 0;
	background:url("../imgs/10.png") no-repeat -115px 0px;
}
.content>h3{
	font-family: 'CinzelDecorative-Regular';
	font-size:64px;
	font-weight:400;
}
.blog{
	display:flex;
	justify-content:space-between;
	width:82%;
	margin-top: 60px;
}
.blog>div>div>img{
	width:100%;
	height:auto;
	display:block;
}
.blog_left{
	display:flex;
	flex-direction:column;
	width:64%;
	font-family: 'OpenSans-Regular';
}
.blog_left>div{
	margin:30px 0;
}
.blog_left>div:first-of-type{
	margin:0;
}
.blog_left>ul{
	display:flex;
	width:260px;
	margin-top:35px;
	border:1px solid #ccc;
	border-radius:4px;
}
.blog_left>ul>li{
	float:left;
	padding:5px 12px;
	border-right:1px solid #ddd;
}
.blog_left>ul>li>a{
	color:#333;
}
.blog_left>ul>li:hover a{
	color:#ff6a4a;
}
.blog_left>ul>li:last-of-type{
	border-right:none;
}
.blog_left img{
	width:100%;
}
.blog_left h4 a{
	color:#ff6a4a;
}
.blog_left h4{
	font-weight:400;
	font-size:14px;
	height:35px;
	color:#666;
}
.blog_left p{
	font-size:15px;
	color:#999;
}
.blog_left h3{
	line-height:56px;
}
.blog_right{
	display:flex;
	flex-direction:column;
	width:32%;
	font-family: 'OpenSans-Regular';
}
.blog_right a{
	color:#555;
}
.blog_right a:hover{
	color:#ff6a4a;
}
.blog_right>div>h2{
	color:#ff6a4a;
 	font-family: 'CinzelDecorative-Regular';
 	font-weight:400;
 	height:46px;
}
.blog_right>div>ul{
	margin:10px 0;
}
.blog_right>div>ul>li{
	line-height:40px;
	background:url("../imgs/arrow.png") no-repeat 0 10px;
	padding-left:25px;
	font-size:14px;
}
.blog_right_3>div{
	display:flex;
	/* justify-content:space-between; */
	align-items:center;
	padding:28px 0;
	width:100%;
	border-bottom:1px solid #888;
}
.blog_right_3>div:last-of-type{
	border-bottom:none;
}
.blog_right_img{
	width:26%;
	border:1px solid #333;
}
.blog_right_img>img{
	display:block;
	width:80%;
	height:auto;
	margin:10% 10%;
}
.blog_right_text{
	width:65%;
	margin-left:20px;
}
.blog_right_text>h3{
	font-size:18px;
	margin-bottom:10px;
}
.blog_right_text>h4{
	line-height:30px;
	font-size:16px;
	font-weight:400;
	color:#555;
}
.blog_right_text>p{
	font-size:12px;
	color:#A2A2A2;
}
.about{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	padding:45px 0;
	background:#2B2B2B;
}
.about>div{
	display:flex;
	width:83%;
	justify-content:space-between;
}
.about_ul1,.about_ul2,.about_ul3{
	display:flex;
	flex-direction:column;

}
.about>div>ul>li{
	font-family:'OpenSans-Regular';
	color:#A2A2A2;
	line-height:26px;
	font-size:14px;
}
.about>div>ul>li>a{
	color:#A2A2A2;
}
.about>div>ul>li:hover a{
	color:#eee;
}
.about>div>ul>li:first-of-type{
	font-family:'CinzelDecorative-Regular';
	font-size:32px;
	color:#fff;
	margin-bottom:30px;
}
.about_div1{
	width:24%;
	height:200px;
}
.about_div1>h3{
	font-size:32px;
	font-family:'CinzelDecorative-Regular';
	color:#fff;
	font-weight:400;
	line-height:32px;
}
.about_div1>[type="text"]{
	width:92%;
	height:42px;
	padding:0 3%;
	margin:32px 0 15px 0;
	outline:none;
	font-size:14px;
}
.about_div1>[type="submit"]{
	width:95px;
	height:35px;
	background:#ff6a4a;
	border:none;
	color:#fff;
	font-size:14px;
	outline:none;
}
.about_div1>[type="submit"]:hover{
	background:#000;
}
footer{
	width:100%;
	height:50px;
	background:#111;
	text-align:center;
	color:#fff;
	line-height:50px;
	font-family:'OpenSans-Regular';
	font-size:14px;
}
.back_top{
	width:40px;
	height:40px;
	border-radius:20px;
	background:url("../imgs/up-arrow.png");
	position:fixed;
	bottom:20px;
	right:30px;
}


@media screen and (max-width:985px){
nav>div{
	width:94.5%;
	height:41px;
	margin:0px auto;
}
nav>div>div>ul>a>li{
	padding:0px 20px;
}
nav>div>div>ul>li{
	padding:0px 20px;
}
.blog{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:82%;
	margin-top: 40px;
}
.blog>div{
	width:100%;
	margin:20px 0;
}
.blog_right_img>img{
	display:block;
	width:90%;
	height:auto;
	margin:5% 5%;
}
.about>div{
	width:93%;
	flex-direction:column;
}
.about>div>ul{
	margin:20px 0;
}
.about_div1{
	width:100%;
	height:200px;
}

}
@media screen and (max-width:756px){
nav>div>div{
	width:60px;
	height:36px;
	border:1px solid #ccc;
	display:block;
	border-radius:3px;
}
nav>div>div>span{
	display:block;
}
nav>div>div:hover{
}
nav>div>div>ul{
	display:none;
}
.content>h3{
	font-size:48px;
}
.content{
	padding:52px 0 60px 0;
	background:url("../imgs/10.png") no-repeat -20px 0px;
	background-size:200px 280px;
}
.blog_right_img{
	width:32%;
	border:1px solid #333;
}
.blog_right_img>img{
	display:block;
	width:86%;
	height:auto;
	margin:7% 7%;
}
}
@media screen and (max-width:640px){
.content{
	padding:22px 0 30px 0;
	background:url("../imgs/10.png") no-repeat -20px 0px;
	background-size:150px 200px;
}
.blog{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:92%;
	margin-top: 0px;
}
.blog_right_img{
	width:34%;
	border:1px solid #333;
}
.blog_right_img>img{
	display:block;
	width:90%;
	height:auto;
	margin:5% 5%;
}
/* .content>div{
	margin:20px 0;
} */
}